<script lang="ts">
const electron = window.require("electron")

interface Deployment {
    metadata: {
        name: string;
        namespace: string;
    },
    status: {
        readyReplicas: number;
        replicas: number;
    },
    spec: {
        template: {
            spec: {
                containers: [
                    {
                        image: string;
                    }
                ]
            }
        }
    }
}

export default defineComponent({
    data() {
        return {
            deployments: [] as Deployment[],
            selectedNamespace: "shared",
            namespaces: [] as Array<string>,
            searchQuery: '',
            rowPerPage: 10,
            currentPage: 1,
            totalPage: 1,
            totalUsers: 0,

        }
    },
    created() {
        this.$watch('selectedNamespace', () => {
            this.fetchRows()
        })
    },
    mounted() {
        this.fetchRows()
        this.fetchNamespaces()
    },
    methods: {
        async fetchRows() {
            electron.ipcRenderer.send('get-deployments-by-namespace', {namespace: this.selectedNamespace})
            electron.ipcRenderer.on('response-deployments-by-namespace', (event: string, data: Deployment[]) => {
                console.log(this.deployments)
            })
        },
        async fetchNamespaces() {
            electron.ipcRenderer.send('list-namespaces')
            electron.ipcRenderer.on('data', (event: string, data: Array<string>) => {
                this.namespaces = data;
            })
        }
    }
})
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Search Filter">
          <VCardText class="d-flex flex-wrap py-4 gap-4">
            <div
              class="me-3"
              style="width: 80px;"
            >
              <VSelect
                v-model="rowPerPage"
                density="compact"
                variant="outlined"
                :items="[10, 20, 30, 50]"
              />
            </div>

            <VSpacer />

            <div class="app-user-search-filter d-flex align-center flex-wrap gap-4">
              <!-- 👉 Search  -->
              <div style="width: 10rem;">
                <VTextField
                  v-model="searchQuery"
                  placeholder="Search"
                  density="compact"
                />
              </div>

              <!-- 👉 Export button -->
              <VSelect
                v-model="selectedNamespace"
                density="compact"
                variant="outlined"
                :items="namespaces"
              />
            </div>
          </VCardText>

          <VDivider />

          <VTable class="text-no-wrap">
            <!-- 👉 table head -->
            <thead>
              <tr>
                <th scope="col">
                  NAME
                </th>
                <th scope="col">
                  NAMESPACE
                </th>
                <th scope="col">
                  IMAGE
                </th>
                <th scope="col">
                  PODS
                </th>
                <th scope="col">
                  REPLCIAS
                </th>
                <th scope="col">
                  STATUS
                </th>
                <th scope="col">
                  ACTIONS
                </th>
              </tr>
            </thead>
            <!-- 👉 table body -->
            <tbody>
              <tr
                v-for="deploy in deployments"
                :key="deploy.metadata.name"
                style="height: 3.75rem;"
              >
                
                <td>
                    {{ deploy.metadata.name }}
                </td>

                <td>
                    {{ deploy.metadata.namespace }}
                </td>

                <td>
                    {{ deploy.spec.template.spec.containers[0].image }}
                </td>

                <td>
                    {{ deploy.status.readyReplicas }}/{{ deploy.status.replicas }}
                </td>

                <td>
                    {{ deploy.status.replicas }}
                </td>

                <td>
                    <VChip color="success" v-if="deploy.status.readyReplicas == deploy.status.replicas">
                        Updated
                    </VChip>
                    <VChip color="warning" v-else>
                        Warning
                    </VChip>
                </td>

                <!-- 👉 Actions -->
                <td
                  class="text-center"
                  style="width: 5rem;"
                >
                  <VBtn
                    icon
                    size="x-small"
                    color="default"
                    variant="text"
                  >
                    <VIcon
                      size="22"
                      icon="tabler-dots-vertical"
                    />

                    <VMenu activator="parent">
                      <VList>
                        <VListItem
                          title="Scale"
                          href="javascript:void(0)"
                        />
                        <VListItem
                          title="Restart"
                          href="javascript:void(0)"
                        />
                      </VList>
                    </VMenu>
                  </VBtn>
                </td>
              </tr>
            </tbody>

            <!-- 👉 table footer  -->
            <tfoot v-show="!deployments.length">
              <tr>
                <td
                  colspan="7"
                  class="text-center"
                >
                  No data available
                </td>
              </tr>
            </tfoot>
          </VTable>

          <VDivider />

          <VCardText class="d-flex align-center flex-wrap justify-space-between gap-4 py-3 px-5">
            <span class="text-sm text-disabled">
              To do
            </span>

            <VPagination
              v-model="currentPage"
              size="small"
              :total-visible="5"
              :length="totalPage"
            />
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
}
</style>
