<script>
const electron = window.require("electron")

export default {
    name: "namespaces",
    data() {
        return {
            namespaces: [],
        };
    },
    mounted() {
        electron.ipcRenderer.send('list-namespaces')
        electron.ipcRenderer.on('data', (event, data) => {
            this.namespaces = data
            console.log(this.namespaces)
        })
    }
};
</script>

<template>
    <div>
      <VCard
        class="mb-6"
        title="Namespaces"
      >
        <VList :items="namespaces" />
      </VCard>
    </div>
  </template>
  